<!DOCTYPE html>
<div id="get-hotel" class="input-block customized-scrollbar" style="width: 300px;overflow-y: auto; max-height:100%;">
	<div class="head">
		Hotel
	</div>
	<div class="body">
		<div data-container="date">
		
		</div>
		<div data-container="hotel">
		
		</div>
	</div>
</div>

<style>
.date-card {
	display: inline-block;
	width: 70px;
	border-radius: 3px;
	margin: 10px 5px;
	cursor: pointer;
}

.date-card.active {
	color: #1FB5C7;
	border: 2px solid #1FB5C7;
}

.date-card .date-day {
	text-align: center;
	font-size: 30px;
}

.date-card .date-week {
	text-align: center;
	font-size: 20px;
}

.default-card {
	margin: 5px 0;
	cursor: pointer;
}

.default-card img {
	width: 100%;
}

.default-card .name {
	font-size: 16px;
	font-weight: 600;
	
}
</style>

<script>
var PHOTO_CASH = {};
var localIDGenerator = function () {
	return '_' + Math.random().toString(36).substr(2, 9);
};

var getWeekday = function(date, lang='en'){
	var weekday_en = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
	return weekday_en[new Date(date).getDay()];
};

var getDateCard = function(date){
	var $card = $(
		'<div class="date-card">\n' +
		'	<div class="date-day">' + new Date(date).getDate() + '</div>\n' +
		'	<div class="date-week">' + getWeekday(date) + '</div>\n' +
		'</div>\n'
	);
	
	return $card;
};

var getDateBetween_inclusive = function(start_date, end_date){
	var number_day = (new Date(end_date).getTime() - new Date(start_date).getTime()) / (3600*24*1000) + 1;
	var dateList = [];
	var first_day = new Date(start_date);
	for(var i=0; i< number_day; i++){
		var nextDay = new Date(first_day);
		nextDay.setDate(first_day.getDate()+i+1);
		dateList.push(nextDay);
	}
	
	return dateList;
};

var loadDate = function(start_date, end_date, geo_list, $container){
	var dateList = getDateBetween_inclusive(start_date, end_date);
	
	dateList.forEach(function(item, index){
		if(index != dateList.length-1){
			var $card = getDateCard(item);
			
			$card
				.attr('lng', geo_list[index].lng)
				.attr('lat', geo_list[index].lat);
			
			$container.append($card);
		}
	});
};


var getCard_simple = function(data){
	var cash_id = localIDGenerator();
	var $card = $(
		'<div class="default-card" cashId="' + cash_id + '" ref="' + data.ref + '">\n' +
		'	<img>\n' +
		'	<div class="name">' + data.name + '</div>\n' +
		'</div>\n'
	);
	loadPhoto(cash_id, data.photo_ref, $card.find('img'));
	
	return $card;
};

var getlCard_detail = function(data){
	var $card = $(
		'<div>\n' +
		'	<div class="body">\n' +
		'		<div class="poster">\n' +
		'			<img style="width: 100%;">\n' +
		'		</div>\n' +
		'		<div class="details" style="padding: 0 15px 15px 15px;">\n' +
		'			<div class="clearfix"><span class="pull-right" style="cursor:pointer;" data-action="close">&times</span></div>\n' +
		'			<h4 class="head" style="text-align: center;"> ' + 	data.name + '</h4>\n' +
		'			<!-- <div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-building-o"></i> Description: </span>\n' +
		'				<div class="text">\n' +
		'					' + (data.description ? data.description : 'N/A') + '\n' +
		'				</div>\n' +
		'			</div> -->\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-table"></i> Rates: </span>\n' +
		'				<div class="text" style="color: gold;">\n' +
		'					' + getRatesText(data.rating) + '\n' +						
		'				</div>\n' +
		'			</div>\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-location-arrow"></i> Address: </span>\n' +
		'				<div class="text">\n' +
		'					' + data.address + '\n' +
		'				</div>\n' +
		'			</div>\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-globe"></i> Website: </span>\n' +
		'				<div class="text">\n' +
		'					 <a href="' + data.website + '">' + data.website + '</a>\n' +
		'				</div>\n' +
		'			</div>\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-calendar-times-o"></i> Hours: </span>\n' +
		'				<div class="text" data-container="hours"></div>\n' +
		'			</div>\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-phone"></i> Phone: </span>\n' +
		'				<div class="text">\n' +
		'					 ' + data.phone + '\n' +
		'				</div>\n' +
		'			</div>\n' +
		'			<div class="detail-block">\n' +
		'				<span class="label"><i class="fa fa-phone"></i> International phone: </span>\n' +
		'				<div class="text">\n' +
		'					 ' + data.international_phone + '\n' +
		'				</div>\n' +
		'			</div>\n' +
		'		</div>\n' +
		'	</div>\n' +
		'</div>\n'
	);
	
	var $hours = $card.find('[data-container="hours"]');
	if(data.open_hours ==  undefined || typeof data.open_hours === 'string'){
		$hours.append('N/A');
	}else{
		data.open_hours.forEach(function(item, index){
			$hours.append(item + '<br>');
		});
	}
	
	
	/* if(data.photos.length > 0){
		console.log(data.photos[0])
		loadPhoto(data.ref, data.photos[0], $card.find('.poster img'))
	}; */
	console.log(data.cash_id, PHOTO_CASH[data.cash_id])
	if(PHOTO_CASH[data.cash_id] != undefined){
		$card.find('.poster img').prop('src', PHOTO_CASH[data.cash_id]);
	}
	
	return $card;
};

var loadSimple = function(data, $container, callback){
	$.ajax({
		url : '/place',
		data: data,
		type : "GET",
		dataType : 'json',
		success : function (data){
			$container.empty();
			
			var list = data.results;
			list.sort(function(a, b){return b.rating - a.rating});
			console.log(list.length)
			list.forEach(function(item,index){
				var json = {
					lng: item.geometry.location.lng,
					lat: item.geometry.location.lat,
					name: item.name,
					ref: item.reference,
					photo_ref: item.photos.length > 0 ? item.photos[0].photo_reference : ''
				};
				
				var $card = getCard_simple(json)
				$container.append($card);
			});
			callback(data);
		},
		error: function(err){
			console.log('error');
		}
	}).done(function() {
		//console.log();
		})
		.fail(function() {
		//console.log('fail')
		})
		.always(function() {
		// $('.loader, .loader-bg').css({'display': 'none'});
		});	
};

var loadPhoto = function(cash_id, photo_ref, $img){
	$.ajax({
		url : '/google-place-photo',
		data: {ref: photo_ref},
		type : "GET",
		dataType : 'json',
		success : function (data){
			$img.prop('src', data);
			PHOTO_CASH[cash_id] = data;
			console.log(Object.keys(PHOTO_CASH).length);
			// console.log(data);
		},
		error: function(err){
			console.log('error');
		}
	}).done(function() {
		//console.log();
		})
		.fail(function() {
		//console.log('fail')
		})
		.always(function() {
		// $('.loader, .loader-bg').css({'display': 'none'});
		});	
};

var loadDetail = function(ref, cash_id, $container, callback){
	$.ajax({
		url : '/google-place-detail',
		data: {ref: ref},
		type : "GET",
		dataType : 'json',
		success : function (data){
			var result = data.result;
			// console.log(result)
			var json = {
				ref: result.reference,
				name: result.name,
				open_hours: result.opening_hours != undefined ? result.opening_hours.weekday_text : 'N/A',
				address: result.formatted_address,
				phone: result.formatted_phone_number,
				international_phone: result.international_phone_number,
				rating: result.rating,
				website: result.website,
				lng: result.geometry.location.lng,
				lat: result.geometry.location.lat,
				photos: result.photos.map(function(item, index){
					return item.photo_reference;
				}),
				cash_id: cash_id
			}
			// console.log(json)
			var $card = getlCard_detail(json);
			$container.find('.body').html($card);
			$container.css({display: 'block'});
		},
		error: function(err){
			console.log('error');
		}
	}).done(function() {
		//console.log();
		})
		.fail(function() {
		//console.log('fail')
		})
		.always(function() {
		// $('.loader, .loader-bg').css({'display': 'none'});
		});	
};

var initialHotel = function(data){
	var geo_list = data.itinerary.map(function(item, index){
		var last = item[item.length-1];
		if(last.geo != undefined){
			return {
				lng: last.geo[0],
				lat: last.geo[1]
			}
		}else{
			return {
				lng: last.destination.geo[0],
				lat: last.destination.geo[1]
			}
		}
	});
	
	loadDate(data.start_date, data.end_date, geo_list, $('#get-hotel [data-container="date"]'));
	$('#get-hotel .date-card').first().click();
};

(function(){
	$('#get-hotel').on('click', '.default-card', function(e){
		var ref = $(this).attr('ref');
		var cash_id = $(this).attr('cashId')
		loadDetail(ref, cash_id, $('.right-info'));
		// console.log(data);
		console.log(PHOTO_CASH);
	});
	
	$('#get-hotel').on('click', '.date-card', function(e){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		
		loadSimple({
			lng: $(this).attr('lng'),
			lat: $(this).attr('lat'),
			distance: 5000,
			type: 'lodging'
		}, 
		$('#get-hotel [data-container="hotel"]'),
		function(){
			// PHOTO_CASH = {}
		});
	});
})();
</script>

