<!DOCTYPE html>
<div class="modal" id="password">
	<div class="modal-dialog">
		<div class="modal-content" style="min-width: 500px;">
			<div class="card">
				<div class="card-body login-card-body">
					<div class="clearfix">
						<button type="button" class="close" data-dismiss="modal" style="margin: 0 10px 10px;">
							<span>&times;</span>
						</button>
					</div>
					<div>
						<h2>Password Setting</h2>
						<div class="form-group has-feedback">
							<input type="password" name="currentPassword" class="form-control" placeholder="Current password" data-locale="currentPassword">
							<span data-value="errorMsg" data-target="currentPassword"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" name="newPassword" class="form-control" placeholder="New password" data-locale="newPassword">
							<span data-value="errorMsg" data-target="newPassword"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm new password" data-locale="confirmPassword">
							<span data-value="errorMsg" data-target="confirmPassword"></span>
						</div>
						<div class="row">
							<div class="col-8">
							</div>
							<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat" data-action="submit" data-locale="submitPassword">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>

</style>
<script>
const ERRMSG_PASSWORD_EN = {
	currentPassword: ['', 'Invalid password', 'Not empty'],
	newPassword: ['', 'Please input valid password. 1 upper case, 1 lower case, 1 number at least. size: [8 - 20]', 'Not empty'],
	confirmPassword: ['', 'Password not match.', 'Not empty'],
};

var loadData_Password = function($container = $('#password')) {
	$container.find('[name="currentPassword"]').val('');
	$container.find('[name="newPassword"]').val('');
	$container.find('[name="confirmPassword"]').val('');
	$container.find('[data-value="errorMsg"]').html('');
};

var getData_Password = function($container = $('#password')) {
	var data = {};
	data.current_password = $container.find('[name="currentPassword"]').val();
	data.new_password = $container.find('[name="newPassword"]').val();
	data.confirm_password = $container.find('[name="confirmPassword"]').val();
	
	return data;
};

var getErrMsg_Password = function(data, $container = $('#password'), locale='en') {
	var err_index = {
		currentPassword: 0,
		newPassword: 0,
		confirmPassword: 0
	};
	
	if(data.current_password == ''){
		err_index.currentPassword = 2;
	}
	
	if(data.new_password == ''){
		err_index.newPassword = 2;
	}else if(! validatePassword(data.new_password)) {
		err_index.newPassword = 1;
	}
	
	if(data.confirm_password == ''){
		err_index.confirmPassword = 2;
	}else if(data.confirm_password != data.new_password){
		err_index.confirmPassword = 1;
	}
	
	var map = {
		'en': ERRMSG_PASSWORD_EN
	}
	
	var dict = map[locale]
	
	return errorMap(err_index, dict);
};

$('#password').on('click', '[data-action="submit"]', function(e){
	var data = getData_Password();
	var err_msg = getErrMsg_Password(data);
	if(updateErrMsg(err_msg, $('#password')) == 0) {
		$.ajax({
			url : '/update-user-password',
			data: data,
			type : "POST",
			dataType : 'json',
			success : function (result){
				console.log(result);
				if(result == 1){
					callAlert('Success!','<i class="material-icons">done</i>', function(){
						location.reload();
					});
				}else{
					err_msg = errorMap(result, ERRMSG_PASSWORD_EN);
					updateErrMsg(err_msg, $('#password'));
				}
			},
			error: function(err){
				console.log('error', err);
			}
		}).done(function() {
			//console.log();
			})
			.fail(function() {
			//console.log('fail')
			})
			.always(function() {
				$('.loader-bg').css({'display': 'none'});
			});
	}else {
		
	}
});

var callPassword = function() {
	loadData_Password();
	$('#password').modal('show');
};
</script>