<!DOCTYPE html>
<div class="modal" id="qrcode">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="qrcode-container">
						
			</div>
		</div>
	</div>
</div>
<style>
.qrcode-container img {
	min-width: 300px;
	min-height: 300px;
}
</style>
<script>
var callQRCode = function(s, $container=$('#qrcode')) {
	var typeNumber = 4;
	var errorCorrectionLevel = 'L';
	var qr = qrcode(typeNumber, errorCorrectionLevel);
	qr.addData(s);
	qr.make();
	$container.find('.qrcode-container')
		.html(qr.createImgTag());
	$container.modal('show');
};
</script>