<!DOCTYPE html>
<div class="modal" id="signup">
	<div class="modal-dialog">
		<div class="modal-content" style="min-width: 500px;">
			<div class="card">
				<div class="clearfix">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0 10px 10px;">
						<span>&times;</span>
					</button>
				</div>
				<div class="card-body register-card-body">
					<!-- <p class="login-box-msg">Register a new membership</p> -->
					<div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-envelope"></i></span>
								</div>
								<input type="email" name="email" class="form-control" placeholder="Email" data-locale="emailReg">
							</div>
							<span data-value="errorMsg" data-target="email"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="password" name="password" class="form-control" placeholder="Password" data-locale="passwordReg">
							</div>
							<span data-value="errorMsg" data-target="password"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="password" name="confirm" class="form-control" placeholder="Retype password" data-locale="confirmReg">
							</div>
							<span data-value="errorMsg" data-target="confirm"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="text" name="firstName" class="form-control" placeholder="First Name" data-locale="fnReg">
							</div>
							<span data-value="errorMsg" data-target="firstName"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="text" name="lastName" class="form-control" placeholder="Last Name" data-locale="lnReg">
							</div>
							<span data-value="errorMsg" data-target="lastName"></span>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="checkbox icheck">
									<label style="margin-bottom: 0;">
										<input type="checkbox" name="term" data-locale="termReg"> I agree to the <a href="javascript:void(0);">terms</a>
									</label>
								</div>
								<div>
									<span data-value="errorMsg" data-target="term"></span>
								</div>
							</div>
							<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat" data-action="submit" data-locale="submitReg">Register</button>
							</div>
						</div>
					</div>

					<div class="social-auth-links text-center">
					<p data-locale="orReg">- OR -</p>
					<a href="javascript:void(0);" class="btn btn-block btn-success">
						<i class="fa fa-weixin mr-2"></i>
						<span data-locale="wechatReg">Sign up using Wechat</span>
					</a>
					<a href="javascript:void(0);" class="btn btn-block btn-danger">
						<i class="fa fa-google-plus mr-2"></i>
						<span data-locale="googleReg">Sign up using Google+</span>
					</a>
					</div>

					<a href="javascript:void(0);" class="text-center" data-action="tologin" data-locale="loginReg">I already have a membership</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>

</style>

<script>
var getData_Reg = function($container = $('#signup')){
	var data = {};
	data.email = $container.find('[name="email"]').val();
	data.password = $container.find('[name="password"]').val();
	data.confirm = $container.find('[name="confirm"]').val();
	data.first_name = $container.find('[name="firstName"]').val();
	data.last_name = $container.find('[name="lastName"]').val();
	data.term = $container.find('[name="term"]').is(':checked');
	
	return data;
};

const ERRMSG_REG_EN = {
	email: ['', 'Please input valid email address.'],
	password: ['', 'Please input valid password. 1 upper case, 1 lower case, 1 number at least. size: [8 - 20]'],
	confirm: ['', 'Password not match.'],
	firstName: ['', 'Charaters only.'],
	lastName: ['', 'Charaters only.'],
	term: ['', 'Please agree the term.']
};

var getErrMsg_Reg = function(data, locale='en'){
	var err_msg = {
		email: 0,
		password: 0,
		confirm: 0,
		firstName: 0,
		lastName: 0,
		term: 0
	};
	// email
	if(! validateEmail(data.email)){
		err_msg.email = 1;
	}
	// password
	if(! validatePassword(data.password)){
		err_msg.password = 1;
	}
	//  confirm
	if(data.password != data.confirm){
		err_msg.confirm = 1;
	}
	// first name
	if(! validateName(data.first_name)){
		err_msg.firstName = 1;
	}
	// last name
	if(! validateName(data.last_name)){
		err_msg.lastName = 1;
	}
	// term
	if(! data.term){
		err_msg.term = 1;
	}
	
	var locale_map = {
		'en': ERRMSG_REG_EN
	};
	var dict = locale_map[locale];

	
	return errorMap(err_msg, dict);
};

$('#signup').on('click', '[data-action="tologin"]', function(e){
	$('#signup').modal('hide');
	$('#login').modal('show');
});

$('#signup').on('click', '[data-action="submit"]', function(e){
	var data = getData_Reg();
	var err_msg = getErrMsg_Reg(data);
	
	if(updateErrMsg(err_msg, $('#signup')) == 0){
		$('.loader-bg').css({'display': 'block'});
		$.ajax({
			url : '/signup',
			data: data,
			type : "POST",
			dataType : 'json',
			success : function (result){
				if(result == 1){
					callAlert('Success!','<i class="material-icons">done</i>', function(){
						$('#signup').modal('hide');
						$('#login').modal('show');
					});
				}else{
					updateErrMsg(result, $('#signup'))
				}
			},
			error: function(err){
				console.log('error', err);
			}
		}).done(function() {
			//console.log();
			})
			.fail(function() {
			//console.log('fail')
			})
			.always(function() {
			$('.loader-bg').css({'display': 'none'});
			});
	}
});
/* !SIGN UP */

$('.loader-bg').css({'display': 'block'});
$.ajax({
	url : '/authenticate/check-authority',
	data: {},
	type : "POST",
	dataType : 'json',
	success : function (result){
		loadNav(result);
	},
	error: function(err){
		console.log('error', err);
	}
}).done(function() {
	//console.log();
	})
	.fail(function() {
	//console.log('fail')
	})
	.always(function() {
		$('.loader-bg').css({'display': 'none'});
	});

$('body').on('click', '[data-action]', function(e){
	var actionType = $(this).attr('data-action');
	if(actionType == 'signup' || actionType == 'login') {
		$('#' + actionType).modal('show');
	}
});
</script>

