<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title data-locale="pageTitle">IST</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<!-- mapbox-gl -->
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
		
		<!-- mapbox-geocoder -->
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<!-- bootstrap 3.37 -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		
		<!-- bootstrap 4 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- s<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="javascripts/turf.min.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4&libraries=geometry"></script>
		
		
		<script src="plugins/datepicker/js/bootstrap-datepicker.js"></script>
		<script src="plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
		<link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datepicker3.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
		<script src="plugins/daterangepicker/daterangepicker.js"></script>
		<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
		
		<!-- Bootstrap slider -->
		<!-- <script src="plugins/bootstrap-slider/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="plugins/bootstrap-slider/slider.css"> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.css">
		
		
		<script src="javascripts/mapbox-utility.js"></script>
		<link href='stylesheets/mapbox-style.css' rel='stylesheet' />
		
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		
		<link href='stylesheets/global.css' rel='stylesheet' />
		<link href='stylesheets/main.css' rel='stylesheet' />
	</head>
	
	<body>
		<div id="map"></div>		
		
		<% include module/nav-top.ejs %>
		
		<div class="left-nav">
			<ul>
				<li class="disabled" data-action="select-city" data-locale="navLocation"><img src="img/cities-w@2x.png"></li>
				<li class="disabled" data-action="select-date" data-locale="navDate"><img src="img/dates-w@2x.png"></li>
				<li class="disabled" data-action="input-traveler" data-locale="navTraveler"><img src="img/travelers-w@2x.png"></li>
				<li class="disabled" data-action="select-preference" data-locale="navPreference"><img src="img/preferences-w@2x.png"></li>
				<li class="disabled" data-action="get-hotel" data-locale="navHotel"><img src="img/hotel-w@2x.png"></li>
				<li class="disabled" data-action="get-food" data-locale="navFood><img src="img/food-w@2x.png"></li>
				<li class="disabled" data-action="get-itinerary" data-locale="navItinerary"><img src="img/itinerary-w@2x.png"></li>
				<li class="disabled" data-action="get-weather" data-locale="navWeather"><img src="img/weather-w@2x.png"></li>
			</ul>
		</div>
		
		
		<div class="right-info">
			<div>
				<div style="padding:15px;font-size: 20px;">Route 66 Introduction:</div>
				<div style="padding:15px;font-size: 14px;">Route 66 also known as the Will Rogers Highway and colloquially known as the Main Street of America or the Mother Road, was one of the original highways within the U.S. Highway System. Route 66 was established on November 11, 1926. The highway, which became one of the most famous roads in America, originally ran from Chicago, Illinois, through Missouri, Kansas, Oklahoma, Texas, New Mexico, and Arizona before ending at Santa Monica, California, covering a total of 2,448 miles (3,940 km).</div>
			</div>
		</div>
		
		<style>
		.right-info {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0px;
			display: none;
			width: 288px;
			height: 100%;
			padding-top: 63px;
			background-color: rgba(000,000,000,0.75);
			color: white;
		}
		</style>
		
		<div id="select-city" class="input-block">
			<div class="head" data-locale="titleLocation">Cities Selection</div>
			<div class="body">
				<div class="form-group">
					<label data-locale="originLocation">ORIGIN</label>
					<div id="origin" data-container></div>
				</div>
				<div class="form-group">
					<label data-locale="originDestination">DESTINATION</label>
					<div id="destination" data-container></div>
				</div>
			</div>
		</div>
	
		<div id="select-date" class="input-block">
			<div class="head" data-locale="titleDate">
				Travel Dates
			</div>
			<div class="body" style="padding: 0;">
				<div id="calendar-top">
					<div class="start-date active">
						<span class="start"><span data-locale="dateStart">start</span></span>
					</div>
					<div style="text-align: center;">
						<svg style="height: 40px; fill: currentColor;" version="1.1" id="Layer_1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><path d="M694.4,242.4l249.1,249.1c11,11,11,21,0,32L694.4,772.7c-5,5-10,7-16,7c-6,0-11-2-16-7c-11-11-11-21,0-32l210.1-210.1H67.1c-13,0-23-10-23-23c0-13,10-23,23-23h805.4L662.4,274.5C641.4,253.4,673.4,221.4,694.4,242.4z"></path></svg>
					</div>
					<div class="end-date active">
						<span class="end"><span data-locale="dateEnd">end</span></span>
					</div>
				</div>
				<div id="calendar"></div>				
			</div>
		</div>
		
		<div id="select-preference" class="input-block">
			<div class="head" data-locale="titlePreference">
				Preferences
			</div>
			<div class="body clearfix">
				<!-- <div class="form-group">
					<label>PACE</label>
					<input id="pace" type="range"/>
				</div> -->
				<div class="form-group lightgreen-bar">
					<label data-locale="naturePreference">NATURE</label>
					<input id="nature">
				</div>
				<div class="form-group black-bar">
					<label data-locale="culturePreference">CULTURE</label>
					<input id="culture">
				</div>
				<div class="form-group lightblue-bar">
					<label data-locale="amusementPreference">AMUSEMENT</label>
					<input id="amusement">
				</div>
				<div class="form-group red-bar">
					<label data-locale="shoppingPreference">SHOPPING</label>
					<input id="shopping">
				</div>
				<div class="form-group orange-bar">
					<label data-locale="nightlifePreference">NIGHTLIFE</label>
					<input id="nightlife">
				</div>
				<button class="btn btn-sm btn-primary" data-action="submit" data-locale="submitPreference" style="float:right;background-color: #1FB5C7; border: none;">
					Submit
				</button>
			</div>
		</div>
	
		<style>
		.block-with-text {
		  /* hide text if it more than N lines  */
		  overflow: hidden;
		  /* for set '...' in absolute position */
		  position: relative; 
		  /* use this value to count block height */
		  line-height: 1.2em;
		  /* max-height = line-height (1.2) * lines max number (3) */
		  max-height: 2.4em; 
		  /* fix problem when last visible word doesn't adjoin right side  */
		  text-align: justify;
		  
		  /* 
		  margin-right: -1em;*/
		  padding-right: 1em;
		}
		.block-with-text:before {
		  /* points in the end */
		  content: '...';
		  /* absolute position */
		  position: absolute;
		  /* set position to right bottom corner of block */
		  right: 0;
		  bottom: 0;
		}
		.block-with-text:after {
		  /* points in the end */
		  content: '';
		  /* absolute position */
		  position: absolute;
		  /* set position to right bottom corner of text */
		  right: 0;
		  width: 1em;
		  /* set width and height */
		  height: 1em;
		  margin-top: 0.2em;
		  background: white;
		}
		</style>
		
		<div id="get-itinerary" class="input-block customized-scrollbar" style="width: 500px;overflow-y: auto; max-height:100%;">
			<div class="head">
				Itinerary
			</div>
			<div class="body">
				<ul class="timeline">
					
				</ul>
			</div>
		</div>
		
		
		
		
	<!-- Log In -->
	<div class="modal" id="login">
	  <div class="modal-dialog">
		<div class="modal-content" style="min-width: 500px;">
		  <div class="card">
			<div class="card-body login-card-body">
			  <div class="clearfix">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0 10px 10px;">
						<span>&times;</span>
					</button>
			  </div>
			  <div>
					<span data-value="errorMsg" data-target="login"></span>
					<div class="form-group has-feedback">
						<input type="email" name="email" class="form-control" placeholder="Email" data-locale="emailLogin">
						<span data-value="errorMsg" data-target="email"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" name="password" class="form-control" placeholder="Password" data-locale="passwordLogin">
						<span data-value="errorMsg" data-target="password"></span>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="checkbox icheck">
								<label>
									<input type="checkbox" data-locale="rememberLogin"> Remember Me
								</label>
							</div>
						</div>
						<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat" data-action="submit" data-locale="submitLogin">Log In</button>
						</div>
					</div>
			  </div>

			  <div class="social-auth-links text-center mb-3">
				<p data-locale="orLogin">- OR -</p>
				<a href="javascript: void(0);" class="btn btn-block btn-success">
				  <i class="fa fa-weixin mr-2"></i>
				  <span data-locale="wechatLogin">Sign up using Wechat</span>
				</a>
				<a href="javascript: void(0);" class="btn btn-block btn-danger">
				  <i class="fa fa-google-plus mr-2"></i> 
					<span data-locale="googleLogin">Sign in using Google+</span>
				</a>
			  </div>

			  <p class="mb-1">
				<a href="javascript: void(0);" data-action="forgetPassword" data-locale="forgotPwdLogin">I forgot my password</a>
			  </p>
			  <p class="mb-0">
				<a href="javascript: void(0);" class="text-center" data-action="toReg" data-locale="newRegLogin">Register a new membership</a>
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
	<script>
	/* LOG IN */
	const ERRMSG_LOGIN_EN = {
		email: ['', 'Email can\'t be empty.'],
		password: ['', 'Password can\'t be empty.'],
		login: ['', 'Invalid email or password. Please try again.']
	};
	
	var getData_Login = function($container = $('#login')){
		var data = {};
		data.email = $container.find('[name="email"]').val();
		data.password = $container.find('[name="password"]').val();
		return data;
	};
	
	var getErrMsg_Login = function(data, locale='en'){
		var err_msg = {
			email: 0,
			password: 0,
			login: 0
		};
		if(data.email == ''){
			err_msg.email = 1;
		}
		if(data.password == ''){
			err_msg.password = 1;
		}
		
		var locale_map = {
			'en': ERRMSG_LOGIN_EN
		};
		var dict = locale_map[locale];
		var msg = {};
		
		Object.keys(err_msg).forEach(function(key, index){
			msg[key] = dict[key][err_msg[key]];
		});
		
		return msg;
	};
	
	var updateErrMsg_Login = function(err_msg, $container = $('#login')){
		var flag = 0;
		for(var k in err_msg){
			if(err_msg[k] != '')
				flag ++;
			$container.find('[data-value="errorMsg"][data-target="' + k + '"]').html(err_msg[k]);
		}
		return flag;
	};
	
	$('#login').on('click', '[data-action="toReg"]', function(e){
		$('#signup').modal('show');
		$('#login').modal('hide');
	});
	
	$('#login').on('click', '[data-action="submit"]', function(e){
		var data = getData_Login();
		var msg = getErrMsg_Login(data);
		if(updateErrMsg_Login(msg) == 0){
			$('.loader-bg').css({'display': 'block'});
			$.ajax({
				url : '/authenticate/login',
				data: data,
				type : "POST",
				dataType : 'json',
				success : function (result){
					loadNav(result);
					$('#login').modal('hide');
					//console.log(result);
					/* if(result == 1){
						location.reload();
					} */
				},
				error: function(err){
					if(err.status == 401){
						updateErrMsg_Login({
							login: 'Invalid email or password. Please try again.'
						})
					}
					console.log('error', err.status);
				}
			}).done(function() {
				//console.log();
				})
				.fail(function() {
				//console.log('fail')
				})
				.always(function() {
				$('.loader-bg').css({'display': 'none'});
				});
		}
	});
	/* !LOG IN */
	</script>
	
	
	<div class="modal" id="signup">
	  <div class="modal-dialog">
		<div class="modal-content" style="min-width: 500px;">
		  <div class="card">
				<div class="clearfix">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0 10px 10px;">
						<span>&times;</span>
					</button>
				</div>
				<div class="card-body register-card-body">
					<!-- <p class="login-box-msg">Register a new membership</p> -->
					<div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-envelope"></i></span>
								</div>
								<input type="email" name="email" class="form-control" placeholder="Email" data-locale="emailReg">
							</div>
							<span data-value="errorMsg" data-target="email"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="password" name="password" class="form-control" placeholder="Password" data-locale="passwordReg">
							</div>
							<span data-value="errorMsg" data-target="password"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="password" name="confirm" class="form-control" placeholder="Retype password" data-locale="confirmReg">
							</div>
							<span data-value="errorMsg" data-target="confirm"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="text" name="firstName" class="form-control" placeholder="First Name" data-locale="fnReg">
							</div>
							<span data-value="errorMsg" data-target="firstName"></span>
						</div>
						<div class="form-group has-feedback">
							<div class="input-group">
								<input type="text" name="lastName" class="form-control" placeholder="Last Name" data-locale="lnReg">
							</div>
							<span data-value="errorMsg" data-target="lastName"></span>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="checkbox icheck">
									<label style="margin-bottom: 0;">
										<input type="checkbox" name="term" data-locale="termReg"> I agree to the <a href="javascript:void(0);">terms</a>
									</label>
								</div>
								<div>
									<span data-value="errorMsg" data-target="term"></span>
								</div>
							</div>
							<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat" data-action="submit" data-locale="submitReg">Register</button>
							</div>
						</div>
					</div>

					<div class="social-auth-links text-center">
					<p data-locale="orReg">- OR -</p>
					<a href="javascript:void(0);" class="btn btn-block btn-success">
						<i class="fa fa-weixin mr-2"></i>
						<span data-locale="wechatReg">Sign up using Wechat</span>
					</a>
					<a href="javascript:void(0);" class="btn btn-block btn-danger">
						<i class="fa fa-google-plus mr-2"></i>
						<span data-locale="googleReg">Sign up using Google+</span>
					</a>
					</div>

					<a href="javascript:void(0);" class="text-center" data-action="tologin" data-locale="loginReg">I already have a membership</a>
				</div>
		  </div>
		</div>
	  </div>
	</div>
	
	<style>
	[data-value="errorMsg"] {
		color: #ed143d;
	}
	</style>
	
	<script src="javascripts/main.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<script>
	/* 1. 提示框 */
	var callAlert = function(text, icon, callback){
		var html = $(
			'<div class="modal fade">\n' +
			'	<div class="modal-dialog" style="width: 150px; opacity: 0.6">\n' +
			'		<div class="modal-content">\n' +
			'			<div class="modal-body" style="padding: 0;  height: 150px; background-color: rgba(0,0,0,1);">\n' +
			'				<p style="color: rgba(255,255,255, 1); font-size: 16px; text-align: center;">' + text + '</p>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'</div>'
		);
		
		//加载图标
		var icon = $(icon).css({
			'margin-left': '25px',
			'font-size': '100px',
			'color': 'rgba(255,255,255, 1)'
		});
		html.find('.modal-body').prepend(icon);
		
		
		html.on('hidden.bs.modal', function(){
			$(this).remove();
		});
		
		html.modal('show');
		
		setTimeout(function(){
			html.modal('hide');
			callback();
		}, 1000);
	};

	/* 2. 确认框 */
	var callConfirm = function(title, text, actionConfirm, actionCancel){
		$.confirm({
			title: title,
			content: text,
			buttons: {
				确定: function () {
					actionConfirm();
					/* callAlert('操作完成', 'done'); */
				},
				取消: function () {
					actionCancel();
				}
			}
		});
	};
	
	
	/* SIGN UP */
	/* email验证 */
	var validateEmail = function(email) {
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	};
	
	/* password验证 */
	var validatePassword = function(password) {
		var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,20}$/;
		return re.test(password);
	};
	
	/* name验证 */
	var validateName = function(name) {
		var re = /^[a-zA-Z]+$/;
		return re.test(name);
	}
		
	var getData_Reg = function($container = $('#signup')){
		var data = {};
		data.email = $container.find('[name="email"]').val();
		data.password = $container.find('[name="password"]').val();
		data.confirm = $container.find('[name="confirm"]').val();
		data.first_name = $container.find('[name="firstName"]').val();
		data.last_name = $container.find('[name="lastName"]').val();
		data.term = $container.find('[name="term"]').is(':checked');
		
		return data;
	};
	
	const ERRMSG_REG_EN = {
		email: ['', 'Please input valid email address.'],
		password: ['', 'Please input valid password. 1 upper case, 1 lower case, 1 number at least. size: [8 - 20]'],
		confirm: ['', 'Password not match.'],
		firstName: ['', 'Charaters only.'],
		lastName: ['', 'Charaters only.'],
		term: ['', 'Please agree the term.']
	};
	
	var getErrMsg_Reg = function(data, locale='en'){
		var err_msg = {
			email: 0,
			password: 0,
			confirm: 0,
			firstName: 0,
			lastName: 0,
			term: 0
		};
		// email
		if(! validateEmail(data.email)){
			err_msg.email = 1;
		}
		// password
		if(! validatePassword(data.password)){
			err_msg.password = 1;
		}
		//  confirm
		if(data.password != data.confirm){
			err_msg.confirm = 1;
		}
		// first name
		if(! validateName(data.first_name)){
			err_msg.firstName = 1;
		}
		// last name
		if(! validateName(data.last_name)){
			err_msg.lastName = 1;
		}
		// term
		if(! data.term){
			err_msg.term = 1;
		}
		
		var locale_map = {
			'en': ERRMSG_REG_EN
		};
		var dict = locale_map[locale];
		var msg = {};
		
		Object.keys(err_msg).forEach(function(key, index){
			msg[key] = dict[key][err_msg[key]];
		});
		
		return msg;
	};
	
	var updateErrMsg_Reg = function(err_msg, $container = $('#signup')){
		var flag = 0;
		for(var k in err_msg){
			if(err_msg[k] != '')
				flag ++;
			$container.find('[data-value="errorMsg"][data-target="' + k + '"]').html(err_msg[k]);
		}
		return flag;
	};
	
	$('#signup').on('click', '[data-action="tologin"]', function(e){
		$('#signup').modal('hide');
		$('#login').modal('show');
	});
	
	$('#signup').on('click', '[data-action="submit"]', function(e){
		var data = getData_Reg();
		var err_msg = getErrMsg_Reg(data);
		
		if(updateErrMsg_Reg(err_msg) == 0){
			$('.loader-bg').css({'display': 'block'});
			$.ajax({
				url : '/signup',
				data: data,
				type : "POST",
				dataType : 'json',
				success : function (result){
					if(result == 1){
						callAlert('Success!','<i class="material-icons">done</i>', function(){
							$('#signup').modal('hide');
							$('#login').modal('show');
						});
					}else{
						updateErrMsg_Reg(result)
					}
				},
				error: function(err){
					console.log('error', err);
				}
			}).done(function() {
				//console.log();
				})
				.fail(function() {
				//console.log('fail')
				})
				.always(function() {
				$('.loader-bg').css({'display': 'none'});
				});
		}
	});
	/* !SIGN UP */
	
	$('.loader-bg').css({'display': 'block'});
	$.ajax({
		url : '/authenticate/check-authority',
		data: {},
		type : "POST",
		dataType : 'json',
		success : function (result){
			loadNav(result);
		},
		error: function(err){
			console.log('error', err);
		}
	}).done(function() {
		//console.log();
		})
		.fail(function() {
		//console.log('fail')
		})
		.always(function() {
			$('.loader-bg').css({'display': 'none'});
		});
	
	$('body').on('click', '[data-action]', function(e){
		var actionType = $(this).attr('data-action');
		if(actionType == 'signup' || actionType == 'login') {
			$('#' + actionType).modal('show');
		}
	});
	
	$('body').on('click', '[data-action]', function(e){
		var actionType = $(this).attr('data-action');
		if(actionType == 'signup' || actionType == 'login') {
			$('#' + actionType).modal('show');
		}		
	});
	</script>
	
	<% include module/loader.ejs %>
	</body>
</html>	

