<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title data-locale="pageTitle">IST</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<!-- mapbox-gl -->
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
		
		<!-- mapbox-geocoder -->
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<!-- bootstrap 3.37 -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		
		<!-- bootstrap 4 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- s<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="javascripts/turf.min.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4&libraries=geometry"></script>
		
		
		<script src="plugins/datepicker/js/bootstrap-datepicker.js"></script>
		<script src="plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
		<link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datepicker3.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
		<script src="plugins/daterangepicker/daterangepicker.js"></script>
		<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
		
		<!-- Bootstrap slider -->
		<!-- <script src="plugins/bootstrap-slider/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="plugins/bootstrap-slider/slider.css"> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.css">
		
		
		<script src="javascripts/mapbox-utility.js"></script>
		<link href='stylesheets/mapbox-style.css' rel='stylesheet' />
		
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		
		<link href='stylesheets/global.css' rel='stylesheet' />
		<link href='stylesheets/main.css' rel='stylesheet' />
		<script src="javascripts/gear.js"></script>
	</head>
	
	<body>
		<div id="map"></div>		
		
		<% include module/profile-setting.ejs %>
		<% include module/password-setting.ejs %>
		<% include module/nav-top.ejs %>
		
		<div class="left-nav">
			<ul>
				<li class="disabled" data-action="select-city" data-locale="navLocation"><img src="img/cities-w@2x.png"></li>
				<li class="disabled" data-action="select-date" data-locale="navDate"><img src="img/dates-w@2x.png"></li>
				<li class="disabled" data-action="input-traveler" data-locale="navTraveler"><img src="img/travelers-w@2x.png"></li>
				<li class="disabled" data-action="select-preference" data-locale="navPreference"><img src="img/preferences-w@2x.png"></li>
				<li class="disabled" data-action="get-hotel" data-locale="navHotel"><img src="img/hotel-w@2x.png"></li>
				<li class="disabled" data-action="get-food" data-locale="navFood><img src="img/food-w@2x.png"></li>
				<li class="disabled" data-action="get-itinerary" data-locale="navItinerary"><img src="img/itinerary-w@2x.png"></li>
				<li class="disabled" data-action="get-weather" data-locale="navWeather"><img src="img/weather-w@2x.png"></li>
			</ul>
		</div>
		
		
		<div class="right-info">
			<div>
				<div style="padding:15px;font-size: 20px;">Route 66 Introduction:</div>
				<div style="padding:15px;font-size: 14px;">Route 66 also known as the Will Rogers Highway and colloquially known as the Main Street of America or the Mother Road, was one of the original highways within the U.S. Highway System. Route 66 was established on November 11, 1926. The highway, which became one of the most famous roads in America, originally ran from Chicago, Illinois, through Missouri, Kansas, Oklahoma, Texas, New Mexico, and Arizona before ending at Santa Monica, California, covering a total of 2,448 miles (3,940 km).</div>
			</div>
		</div>
		
		<style>
		.right-info {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0px;
			display: none;
			width: 288px;
			height: 100%;
			padding-top: 63px;
			background-color: rgba(000,000,000,0.75);
			color: white;
		}
		</style>
		
		<div id="select-city" class="input-block">
			<div class="head" data-locale="titleLocation">Cities Selection</div>
			<div class="body">
				<div class="form-group">
					<label data-locale="originLocation">ORIGIN</label>
					<div id="origin" data-container></div>
				</div>
				<div class="form-group">
					<label data-locale="originDestination">DESTINATION</label>
					<div id="destination" data-container></div>
				</div>
			</div>
		</div>
	
		<div id="select-date" class="input-block">
			<div class="head" data-locale="titleDate">
				Travel Dates
			</div>
			<div class="body" style="padding: 0;">
				<div id="calendar-top">
					<div class="start-date active">
						<span class="start"><span data-locale="dateStart">start</span></span>
					</div>
					<div style="text-align: center;">
						<svg style="height: 40px; fill: currentColor;" version="1.1" id="Layer_1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><path d="M694.4,242.4l249.1,249.1c11,11,11,21,0,32L694.4,772.7c-5,5-10,7-16,7c-6,0-11-2-16-7c-11-11-11-21,0-32l210.1-210.1H67.1c-13,0-23-10-23-23c0-13,10-23,23-23h805.4L662.4,274.5C641.4,253.4,673.4,221.4,694.4,242.4z"></path></svg>
					</div>
					<div class="end-date active">
						<span class="end"><span data-locale="dateEnd">end</span></span>
					</div>
				</div>
				<div id="calendar"></div>				
			</div>
		</div>
		
		<div id="select-preference" class="input-block">
			<div class="head" data-locale="titlePreference">
				Preferences
			</div>
			<div class="body clearfix">
				<!-- <div class="form-group">
					<label>PACE</label>
					<input id="pace" type="range"/>
				</div> -->
				<div class="form-group lightgreen-bar">
					<label data-locale="naturePreference">NATURE</label>
					<input id="nature">
				</div>
				<div class="form-group black-bar">
					<label data-locale="culturePreference">CULTURE</label>
					<input id="culture">
				</div>
				<div class="form-group lightblue-bar">
					<label data-locale="amusementPreference">AMUSEMENT</label>
					<input id="amusement">
				</div>
				<div class="form-group red-bar">
					<label data-locale="shoppingPreference">SHOPPING</label>
					<input id="shopping">
				</div>
				<div class="form-group orange-bar">
					<label data-locale="nightlifePreference">NIGHTLIFE</label>
					<input id="nightlife">
				</div>
				<button class="btn btn-sm btn-primary" data-action="submit" data-locale="submitPreference" style="float:right;background-color: #1FB5C7; border: none;">
					Submit
				</button>
			</div>
		</div>
			
		<div id="get-itinerary" class="input-block customized-scrollbar" style="width: 500px;overflow-y: auto; max-height:100%;">
			<div class="head">
				Itinerary
			</div>
			<div class="body">
				<ul class="timeline">
					
				</ul>
			</div>
		</div>
		
		
		<script src="javascripts/main.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<% include module/login.ejs %>
		<% include module/signup.ejs %>
			
		<% include module/loader.ejs %>
	</body>
</html>	

