<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Filter features within map view</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="javascripts/turf.min.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4&libraries=geometry"></script>
	</head>
	
	<body>
		<div id='map'></div>
		<style>
			body { margin:0; padding:0; }
			#map { position:absolute; top:0; bottom:0; width:100%; }
			/* .mapboxgl-ctrl-bottom-left { display: none } */
			/* .mapboxgl-ctrl-bottom-right { display: none } */
		</style>
		<script src="javascripts/mapbox-utility.js"></script>
		<link href='stylesheets/mapbox-style.css' rel='stylesheet' />
		
		
		
		
		
		<script>			
			var map = initializeMapbox('map', 'streets', [-122.4833858013153, 37.829607404976734], 12);
			map.on('load', function(){
			/* map.on('render', function(e){
					delay(function(){
						bindMaker(map);
					}, 50);
				});
				
				// Route
				initializeRouteLayer(map, [{
					route:  [[-122.4833858013153, 37.829607404976734],
									[-122.4830961227417, 37.82932776098012],
									[-122.4830746650696, 37.82932776098012],
									[-122.48218417167662, 37.82889558180985],
									[-122.48218417167662, 37.82890193740421],
									[-122.48221099376678, 37.82868372835086],
									[-122.4822163581848, 37.82868372835086],
									[-122.48205006122589, 37.82801003030873]],
					start: 12132
				}]);
				
				var r = {
					route: [[-122.48393028974533, 37.829471820141016],
									[-122.48395174741744, 37.82940826466351],
									[-122.48395174741744, 37.829412501697064],
									[-122.48423874378203, 37.829357420242125],
									[-122.48422533273697, 37.829361657278575],
									[-122.48459815979002, 37.8293425906126],
									[-122.48458743095398, 37.8293447091313],
									[-122.4847564101219, 37.82932776098012],
									[-122.48474299907684, 37.829331998018276],
									[-122.4849334359169, 37.829298101706186],
									[-122.48492807149889, 37.82930022022615],
									[-122.48509705066681, 37.82920488676767],
									[-122.48509168624878, 37.82920912381288],
									[-122.48520433902739, 37.82905870855876],
									[-122.48519897460936, 37.82905870855876],
									[-122.4854403734207, 37.828594749716714],
									[-122.48543500900269, 37.82860534241688],
									[-122.48571664094925, 37.82808206121068],
									[-122.48570591211319, 37.82809689109353],
									[-122.4858346581459, 37.82797189627337],
									[-122.48582661151886, 37.82797825194729],
									[-122.4859634041786, 37.82788503534145],
									[-122.48595803976059, 37.82788927246246],
									[-122.48605459928514, 37.82786596829394]]
				}
				
				addRoute(map, r)
				
				map.on('mouseenter', 'route', function(e){
					console.log(e.features[0])
					clearRoute(map);
				});
				
				// POI
				var points = [[-122.48393028974533, 37.829471820141016],
									[-122.48395174741744, 37.82940826466351],
									[-122.48395174741744, 37.829412501697064],
									[-122.48423874378203, 37.829357420242125],
									[-122.48422533273697, 37.829361657278575],
									[-122.48459815979002, 37.8293425906126],
									[-122.48458743095398, 37.8293447091313],
									[-122.4847564101219, 37.82932776098012],
									[-122.48474299907684, 37.829331998018276],
									[-122.4849334359169, 37.829298101706186],
									[-122.48492807149889, 37.82930022022615],
									[-122.48509705066681, 37.82920488676767],
									[-122.48509168624878, 37.82920912381288],
									[-122.48520433902739, 37.82905870855876],
									[-122.48519897460936, 37.82905870855876],
									[-122.4854403734207, 37.828594749716714],
									[-122.48543500900269, 37.82860534241688],
									[-122.48571664094925, 37.82808206121068],
									[-122.48570591211319, 37.82809689109353],
									[-122.4858346581459, 37.82797189627337],
									[-122.48582661151886, 37.82797825194729],
									[-122.4859634041786, 37.82788503534145],
									[-122.48595803976059, 37.82788927246246],
									[-122.48605459928514, 37.82786596829394]];
				var points = points.map(function(item){
					return {geo: item, name: '1'}
				});
				// console.log(points);
				initializePOILayer(map, points)
				addPOI(map, {geo: [-120.48205006122589, 35.82801003030873], count: 12});
				// clearPOI(map);
				
				map.on('click', function(e){
					//console.log(map.getSource('POI'));
					//console.log(e.point);
					var features = map.queryRenderedFeatures({ layers: ['cluster-POI', 'unclustered-POI'] });
					//console.log(features[0].geometry.coordinates)
					//removeMarkerByID($('#map'), '_ffwqp8shg');
					features.forEach(function(item){
						addMarker(map, {img: 'https://placekitten.com/g/50/50/', geo: item.geometry.coordinates})
					});
					
					//addMarker(map, {img: 'https://placekitten.com/g/50/50/', geo: [-122.4833858013153, 37.829607404976734]})
					
					initializeBufferLayer(map, [{
					points: [[[-122.48393028974533, 37.829471820141016],
									[-122.48395174741744, 37.82940826466351],
									[-122.48395174741744, 37.829412501697064],
									[-122.48423874378203, 37.829357420242125],
									[-122.48422533273697, 37.829361657278575],
									[-122.48459815979002, 37.8293425906126],
									[-122.48458743095398, 37.8293447091313],
									[-122.4847564101219, 37.82932776098012],
									[-122.48474299907684, 37.829331998018276],
									[-122.4849334359169, 37.829298101706186],
									[-122.48492807149889, 37.82930022022615],
									[-122.48509705066681, 37.82920488676767],
									[-122.48509168624878, 37.82920912381288],
									[-122.48520433902739, 37.82905870855876],
									[-122.48519897460936, 37.82905870855876],
									[-122.4854403734207, 37.828594749716714],
									[-122.48543500900269, 37.82860534241688],
									[-122.48571664094925, 37.82808206121068],
									[-122.48570591211319, 37.82809689109353],
									[-122.4858346581459, 37.82797189627337],
									[-122.48582661151886, 37.82797825194729],
									[-122.4859634041786, 37.82788503534145],
									[-122.48595803976059, 37.82788927246246],
									[-122.48605459928514, 37.82786596829394],
									[-122.48393028974533, 37.829471820141016]]]
					}]) ;
					
				});
				
				
				// Buffer
				initializeBufferLayer(map, [{
					points: [[[-122.48393028974533, 37.829471820141016],
									[-122.48395174741744, 37.82940826466351],
									[-122.48395174741744, 37.829412501697064],
									[-122.48423874378203, 37.829357420242125],
									[-122.48422533273697, 37.829361657278575],
									[-122.48459815979002, 37.8293425906126],
									[-122.48458743095398, 37.8293447091313],
									[-122.4847564101219, 37.82932776098012],
									[-122.48474299907684, 37.829331998018276],
									[-122.4849334359169, 37.829298101706186],
									[-122.48492807149889, 37.82930022022615],
									[-122.48509705066681, 37.82920488676767],
									[-122.48509168624878, 37.82920912381288],
									[-122.48520433902739, 37.82905870855876],
									[-122.48519897460936, 37.82905870855876],
									[-122.4854403734207, 37.828594749716714],
									[-122.48543500900269, 37.82860534241688],
									[-122.48571664094925, 37.82808206121068],
									[-122.48570591211319, 37.82809689109353],
									[-122.4858346581459, 37.82797189627337],
									[-122.48582661151886, 37.82797825194729],
									[-122.4859634041786, 37.82788503534145],
									[-122.48595803976059, 37.82788927246246],
									[-122.48605459928514, 37.82786596829394],
									[-122.48393028974533, 37.829471820141016]]]
				}]) ;
				
				clearBuffer(map);
				addBuffer(map, {
					points: [[[-122.48393028974533, 37.829471820141016],
									[-122.48395174741744, 37.82940826466351],
									[-122.48395174741744, 37.829412501697064],
									[-122.48423874378203, 37.829357420242125],
									[-122.48422533273697, 37.829361657278575],
									[-122.48459815979002, 37.8293425906126],
									[-122.48458743095398, 37.8293447091313],
									[-122.4847564101219, 37.82932776098012],
									[-122.48474299907684, 37.829331998018276],
									[-122.4849334359169, 37.829298101706186],
									[-122.48492807149889, 37.82930022022615],
									[-122.48509705066681, 37.82920488676767],
									[-122.48509168624878, 37.82920912381288],
									[-122.48520433902739, 37.82905870855876],
									[-122.48519897460936, 37.82905870855876],
									[-122.4854403734207, 37.828594749716714],
									[-122.48543500900269, 37.82860534241688],
									[-122.48571664094925, 37.82808206121068],
									[-122.48570591211319, 37.82809689109353],
									[-122.4858346581459, 37.82797189627337],
									[-122.48582661151886, 37.82797825194729],
									[-122.4859634041786, 37.82788503534145],
									[-122.48595803976059, 37.82788927246246],
									[-122.48605459928514, 37.82786596829394],
									[-122.48393028974533, 37.829471820141016]]]
				})
				
				
				//addMarker(map, {img: 'https://placekitten.com/g/50/50/', geo: [-122.4833858013153, 37.829607404976734]});
				
				/*
				map.flyTo({
					center: [-122.4833858013153, 37.829607404976734],
					zoom: 16,
					speed: 5,
					curve: 1,
					easing(t) {
						//console.log(t);
						return t;
					}
				});
				*/
				
				//console.log('start')
				$.ajax({
					url : '/test2',
					data: {},
					type : "GET",
					dataType : 'json',
					success : function (result){
						console.log(result);
						initializeRouteLayer(map, 
							/*result.sub_route.map(function(sub_route){
								// [{route: result.overview_path}]
								return {route: sub_route.sub_overview_path};
							})*/
							[{route: result.overview_path}]
						);
						
						initializeBufferLayer(map, 
							/*result.sub_route.map(function(sub_route){
								//console.log(sub_route.buffer)
								return {points: sub_route.buffer};
							})*/
							[{points: result.buffer}]
						);
						//console.log(result.poi_list)
						initializePOILayer(map, result.poi_list.primary);
						
						initializeRouteLayer(map, 
							result.byway_list.map(function(item){
								return {route: item.path};
							}),
							{
								id: 'byway',
								"line-color": '#ff0000',
								"line-width": 3
							}
						);
						
						/*initializeRouteLayer(map, 
							result.byway_list.map(function(item){
								return {route: item.path};
							}),
							{
								id: 'sub_route' + localIDGenerator(),
								"line-color": randomColor(),
								"line-width": 3
							}
						);*/
						
						
						console.log(result.solution);
						// bindMaker(map)
						map.fitBounds(result.bounds)
						map.moveLayer('buffer', 'route')
					},
					error: function(err){
						console.log('error');
					}
				});
				
				map.on('render', function(e){
					delay(function(){
						bindMaker(map);
					}, 50);
				});
			});
			
		</script>
		
		
		<script>
			
		</script>
	</body>
</html>	

