<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Filter features within map view</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<!-- mapbox-gl -->
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
		
		<!-- mapbox-geocoder -->
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<!-- bootstrap 3.37 -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		
		<!-- bootstrap 4 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- s<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="javascripts/turf.min.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LCWyuLkzDMvyOYxBIvmjyBJsqLDnPA4&libraries=geometry"></script>
		
		
		<script src="plugins/datepicker/js/bootstrap-datepicker.js"></script>
		<script src="plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
		<link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datepicker3.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
		<script src="plugins/daterangepicker/daterangepicker.js"></script>
		<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
		
		<!-- Bootstrap slider -->
		<!-- <script src="plugins/bootstrap-slider/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="plugins/bootstrap-slider/slider.css"> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.css">
		
		
		<script src="javascripts/mapbox-utility.js"></script>
		<link href='stylesheets/mapbox-style.css' rel='stylesheet' />
		
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	</head>
	
	<body>		
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 4;">
			<a class="navbar-brand" href="#">
				<img class="egbzLU" src="img/logo-dark@2x.png" alt="iTripSmart logo" style="width: 130px; padding: 8px 0;">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active">
						<a class="nav-link" href="#">Home 
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
						  English
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">English</a>
							<!-- <a class="dropdown-item" href="#">中文</a> -->
							<!-- <div class="dropdown-divider"></div> -->
							<!-- <a class="dropdown-item" href="#">Something else here</a> -->
						</div>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li> -->
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
						  Hello, Sven
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#"><i class="fa fa-file"></i> <span style="margin-left: 10px;">My Trip</span></a>
							<a class="dropdown-item" href="#"><i class="fa fa-user"></i> <span style="margin-left: 10px;">Account Setting</span></a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> <span style="margin-left: 10px;">Log out</span></a>
							<!-- <a class="dropdown-item" href="#">中文</a> -->
							<!-- <div class="dropdown-divider"></div> -->
							<!-- <a class="dropdown-item" href="#">Something else here</a> -->
						</div>
					</li>
				</ul>
				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</div>
		</nav>
		<div style="text-align: center; padding: 50px 0 50px;">
			<div style="font-size: 50px;">Jane Doe</div>
			<div>2481215101 Seconds</div>
			<div style="margin-top: 20px;">
				<span style="margin: 0 10px 0 10px;"><i class="fa fa-car"></i> 1.2K Miles</span>
				<span style="margin: 0 10px 0 10px;"><i class="fa fa-flag"></i> 5 Countries</span>
				<span style="margin: 0 10px 0 10px;"><i class="fa fa-building-o"></i> 11 Cities</span>
				<span style="margin: 0 10px 0 10px;"><i class="fa fa-star"></i> 32 POIs</span>
			</div>
		</div>
		
		<div style="padding: 0 200px 0 200px;">
			<div>
				<div style="border: 1px solid orange;"></div>
				<div style="text-align: center; position: relative; top: -11px;">
					<span style="padding: 10px 50px; border: 1px solid orange;background-color: white;">UPCOMING</span>
				</div>
			</div>
			
			<div class="row" data-container="upcoming">
				<div class="col-md-4" style="padding: 50px;">
					<div style="height: 280px; background-image: url('temp/photo2.png'); background-size:contain; background-repeat: no-repeat;background-position: center;">
						<div class="row" style="color: white; height: 100%;">
							<div class="col-sm-4" style="text-align: center; font-size: 40px;"><i class="fa fa-bookmark"></i></div>
							<div class="col-sm-4" style="text-align: center; font-size: 40px;"><i class="fa fa-camera"></i></div>
							<div class="col-sm-4" style="text-align: center; font-size: 40px;"><i class="fa fa-share"></i></div>
						</div>
					</div>
					<div style="font-size: 25px;">
						St. Petersburg
					</div>
					<div style="color: rgba(0,0,0,0.6)">
						MM|DD|YY - MM|DD|YY
					</div>
				</div>
				<div class="col-md-4" style="padding: 50px;">
					<img src="temp/photo2.png" style="width: 100%;">
					<div style="font-size: 25px;">
						Bufflo
					</div>
					<div style="color: rgba(0,0,0,0.6)">
						MM|DD|YY - MM|DD|YY
					</div>
				</div>
				<div class="col-md-4" style="padding: 50px;">
					<img src="temp/photo3.jpg" style="width: 100%;">
					<div style="font-size: 25px;">
						Virginia Beach
					</div>
					<div style="color: rgba(0,0,0,0.6)">
						MM|DD|YY - MM|DD|YY
					</div>
				</div>
			</div>
		</div>
		
		<div style="padding: 50px 200px 0 200px;">
			<div>
				<div style="border: 1px solid rgba(0,0,0,0.1);"></div>
				<div style="text-align: center; position: relative; top: -11px;">
					<span style="padding: 10px 50px; border: 1px solid rgba(0,0,0,0.1); color:rgba(0,0,0,0.3); background-color: white;">COMPLETE TRIPS</span>
				</div>
			</div>
			
			<div class="row" data-container="complete">
				<!-- <div class="col-md-4" style="padding: 50px;"> -->
					<!-- <div style="height: 280px; background-image: url('temp/photo1.png'); background-size:contain;"> -->
					<!-- </div> -->
					<!-- <div style="font-size: 25px;"> -->
						<!-- St. Petersburg - St. Petersburg -->
					<!-- </div> -->
					<!-- <div style="color: rgba(0,0,0,0.6)"> -->
						<!-- MM|DD|YY - MM|DD|YY -->
					<!-- </div> -->
				<!-- </div> -->
			</div>
			
			<script>
			var DateToMMDDYY = function(s){
				var d = new Date(s);
				var year = d.getFullYear() - 2000;
				year = year < 10 ? '0' + year : year;
				var month = d.getMonth()+1;
				month = month < 10 ? '0' + month : month;
				var day = d.getDate();
				day = day <10 ? '0' + day : day;
				
				
				return month + '|' + day + '|' + year;
			};
			var getTripCard = function(data){
				var $html = $(
					'<div class="col-md-4" style="padding: 50px; cursor: pointer;" data-id="' + data._id + '">\n' +
					'	<div style="height: 280px; background-image: url(\'' + data.solution[0].poster + '\'); background-size:contain; background-repeat: no-repeat;background-position: center;">\n' +
					'	</div>\n' +
					// '	<img src="' + data.solution[0].poster + '" style="width: 100%; max-height: 200px;">\n' +
					'	<div style="font-size: 25px;">\n' +
					'		' + data.origin.address + ' - ' + data.destination.address + '\n' +
					'	</div>\n' +
					'	<div style="color: rgba(0,0,0,0.6)">\n' +
					'		' + DateToMMDDYY(data.start_date) + ' - ' + DateToMMDDYY(data.end_date) + '\n' +
					'	</div>\n' +
					'</div>\n'
				);
				
				$html.on('click', function(){
					window.location.href = "http://127.0.0.1:3000/test10?_id=" + data._id;
				});
				
				return $html;
			};
			
			$.ajax({
				url : '/test12',
				data: {},
				type : "GET",
				dataType : 'json',
				success : function (result){
					console.log(result);
					$('[data-container="upcoming"]')
					//	.empty();
					$('[data-container="complete"]')
						.empty();
					var current_time = new Date().getTime();
					result.forEach(function(item,index){
						var time = new Date(item.end_date).getTime();
						var $card = getTripCard(item);
						if(time > current_time){
							$('[data-container="upcoming"]').append($card);
						}else{
							$('[data-container="complete"]').append($card);
						}
						
						
					});
				},
				error: function(err){
					console.log('error');
				}
			}).done(function() {
				//console.log();
				})
				.fail(function() {
				//console.log('fail')
				})
				.always(function() {
				$('.loader, .loader-bg').css({'display': 'none'});
				});
			</script>
		</div>
		
	</body>
</html>